{% extends "base_generic.html" %}

{% block content %}

    <h1>Связи</h1>

    <div class="navbar navbar-light justify-content-between">
            <a href="{% url 'communication_create' %}" class="btn btn-primary">Новая связь</a>
        <div class="inline">
            <input id="search" class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search">
        </div>
    </div>


    <br>
    {% if communication_list %}
        <div id="table_container">
            {% include 'communications_table.html' %}
        </div>
    {% else %}
      <p>There are no communications.</p>
    {% endif %}

<script>
            $(document).ready(
                $('#search').on('input', (e) => {
                    $.ajax({
                        data: {
                                'search': e.target.value,
                                },
                        url: "{% url 'search_communication' %}",
                        context: e.delegateTarget,
                        success: function (response) {
                            if (response) {
                                $('#table_container').html(response);
                            }
                            else {
                                console.log('THere is no content.')
                            }
                        },
                        error: function (response) {
                            console.log(response.responseJSON.errors)
                        }
                    });
                    return false;
                })
            )
        </script>



        <script>
            $('#delete_form_submit').hide();
            $('#unselect').hide();
            $(document).ready($(document).on('click', (e)=>{
                for(i = 0; i < $("input[type='checkbox']").length; i++)
                    {
                        if ($("input[type='checkbox']")[i].checked)
                            {
                                $("#delete_form_submit").show();
                                $('#unselect').show();
                                return;
                            }
                    }
                $("#delete_form_submit").hide();
                $('#unselect').hide();

                })
            )
            $(document).ready($('#unselect').on('click', (e)=>{
                e.preventDefault();
                for(i = 0; i < $("input[type='checkbox']").length; i++)
                    {
                        $("input[type='checkbox']")[i].checked = false;
                    }
                $("#delete_form_submit").hide();
                $('#unselect').hide();
                })
            )

            $(document).ready($('#delete_form_submit').on('click', (e)=>{
                e.preventDefault();
                let to_delete = [];
                $("input[type='checkbox']").each(function(i, elem)
                    {
                        if($(elem).is(':checked')){
                            to_delete.push($(elem).data('communication_id'))
                        };
                    });
                $("#delete_form_submit").hide();
                $('#unselect').hide();
                $.ajax({
                        data: {
                                to_delete: to_delete.join('$'),
                                },
                        url: "{% url 'communication_delete' None %}",
                        context: e.delegateTarget,
                        success: function (response) {
                            if (response) {
                                $('#table_container').html(response)
                            }
                        },
                    });
                })
            )
    </script>


{% endblock %}