{% extends "base_generic.html" %}

{% block content %}

 <h1>Consumer Detail</h1>

    {% if consumer %}
        {{ consumer.name }} ({{ consumer.phone }})

        <a href="{% url 'consumer_edit' consumer.id %}">Изменить</a>

        <form action="{% url 'consumer_edit' consumer.id %}" method="POST">{% csrf_token %}
            <input type="submit" name="delete" value="Delete">
        </form>
        <p>Communications:</p>
        {% for communication in consumer.communications.all %}
            <p style="margin-left: 15px;">{{ communication }}</p>
        {% endfor %}
    {% else %}
      <p>There are no consumer detail</p>
    {% endif %}

{% endblock %}