{% extends "base_generic.html" %}

{% block content %}

<h1>{{ equipment.name }}<sub>    ({{ equipment.get_type_display }})</sub></h1>


<p>Location: {{ equipment.location }}</p>

<p>Ports: </p>
<ul>
    {% for port in equipment.ports.all %}
        <li>
            <span style="{% if port.connected_to or port.connected_from %}color: red;{% endif %}">{{ port.port_name }}
                {% if port.communication or port.connected_from.communication %}
                    [Связь {% if port.communication%}{{ port.communication }}
                                {% else %} {{ port.connected_from.communication }}
                            {% endif %}]
            {% endif %}</span>
        </li>
    {% endfor %}
</ul>

{% endblock %}