{% extends "base_generic.html" %}

{% block content %}

<h1>Edit Connection for {{ communication }}</h1>

<form method="post">{% csrf_token %}
    {{ formset.management_form }}

<!--    <input type="submit" name="delete_last" value="delete last">-->

    {% if formset %}
        Количество форм:  {{ num_forms }}
        <div class="container">
            {% for form in formset %}
                <div class="row">
                    <div class="col-md-6 offset-md-4">
                        <input type="submit" name="add-{{ form.index }}" value="+" class="add-button col-auto my-1"><p></p>
                    </div>
                </div>
                <div class="form_instance row justify-content-md-center form-group">
                    {% for field in form %}
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">{{ field.label }}</span>
                                </div>
                            {{ field }}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="col">
                        <input type="submit" class="btn btn-danger col-auto my-1" name="delete-{{ form.index }}" value="delete field {{ form.index }}">
                    </div>
                </div>
            {% endfor %}
    {% endif %}
    <div class="row">
        <div class="col-md-6 offset-md-4">
            <input type="submit" name="add_field" value="+" class="add-button"> <!-- Add empty form to the end. -->
        </div>
    </div>
</div>
    <p></p>
<!--    {{ port }}-->
<!--    <input type="submit" name="remove_extra_field" value="Add">-->

    {% for p in ports %}
        {{ p }}
    {% endfor %}
    <script>
        $(document).ready(
            $('.form_instance').on('change', "select[name*='equipment']", (e) => {
                console.log(e.delegateTarget, $(this), this);
                // создаем AJAX-вызов
                port_name = '';
                $("select[name*='port_name']").each((i, e) => {port_name = port_name.concat(e.value, ',')});
                console.log('!!!!!!!!!!!!!!!!', port_name)
                $.ajax({
                    data: {
                            'equipment': e.target.value,
                            'id': e.target.attributes.id.value,
                            'port_name': port_name,
                            },                                              // получаем данные формы
                    url: "{% url 'get_ports' %}",
                    context: e.delegateTarget,
                    // если успешно, то
                    success: function (response) {
                            console.log(response)
                            console.log('this = ', $(this))

                        if (response) {
                            console.log($(this))
                            $(this).html(response);
                        }
                        else {
                            $('#id_username').removeClass('is-invalid').addClass('is-valid');
                            $('#usernameError').remove();
                        }
                    },
                    // если ошибка, то
                    error: function (response) {
                        // предупредим об ошибке
                        console.log(response.responseJSON.errors)
                    }
                });
                return false;
            })
        )
    </script>


    {% if connection_forms %}
    {% for form in connection_forms%}
            <p>{{ form }}</p>
    {% endfor %}
    {% endif %}




    <input type="submit" name="submit" value="create">
</form>

{% endblock %}