{% extends "base_generic.html" %}

{% block content %}

<h1>Connection</h1>


<!-- <form action="" method="post">
    {% csrf_token %}
    <table>
        {{ formset }}
    </table>
    <input type="submit" value="Submit" />

</form> -->

<form method="post">{% csrf_token %}
    {{ formset.management_form }}
    <input type="submit" name="add_new_extra_field" value="add_empty">
    {% if formset %}
        {% for form in formset %}
            <ul>
                <li>{{ form.0 }} </li>
            </ul>
        {% endfor %}
    Количество форм:  {{ num_forms }}
    {% endif %}
    <p></p>
    <input type="submit" name="delete_first" value="delete_first">
<!--    <input type="submit" name="remove_extra_field" value="Add">-->

</form>

{% endblock %}