{% extends "base_generic.html" %}


{% block content %}

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'equipments' %}">Оборудование </a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ equipment.name }}</li>
        <li class="breadcrumb-item"><a href="{% url 'equipment_ports' equipment.id %}">Порты</a></li>
      </ol>
    </nav>

    <div id="equipment_detail" class="my-3 p-4 rounded shadow-lg">
        <div class="px-3">
            <h2 class="">{{ equipment.name }}</h2>
            <span class="badge badge-secondary">{{ equipment.get_type_display }}</span>
            <p class="">({{ equipment.endpoint.code }}){{ equipment.endpoint }}: {{ equipment.location }}</p>
        </div>

        <div class="clearfix px-3">
            <a href="{% url 'equipment_update' equipment.id %}" type="button" class="btn btn-primary float-left">Редактировать</a>
            <button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#equipment_detail_modal">Удалить</button>
        </div>
    </div>

    <br>

                    <!-- Modal window for delete confirmation -->
                        <div class="modal fade" id="equipment_detail_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="DeleteEquipmentModalLabel"><b>Удалить {{ equipment.name }}?</b> <p><em>Возможно только при отсутствии установленных соединений на портах.</em></p></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{% url 'equipment_delete' equipment.id %}" type="button" class="btn btn-danger">Удалить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- End modal confirmation      -->


    <div class="my-3 p-4 rounded shadow-lg">
        <span class="bg-info p-2 rounded text-white">Количество портов: {{ equipment.ports.all|length }}</span>
        <span class="bg-success p-2 rounded text-white">Свободно: {{ empty_port_count }}</span>
        <!--    Piechart-->
        {% if port_count > 0 %}
            <div id="pie_chart" class="d-inline ml-5 pl-5">
                <div class="pie animate" style="--p:{{ usage_percent }};--c:lightgreen"> Свободно {{ usage_percent }}%</div>
            </div>
        {% endif %}
    </div>

{% endblock %}